*.bmp

.vscode/

*.swp
*.swo
.tmuxinator.yml

/uvdar_ros/config/blinking_sequences/*
!/uvdar_ros/config/blinking_sequences/
!/uvdar_ros/config/blinking_sequences/blinking_sequence.csv

/uvdar_ros/config/camera_calibration/*
!/uvdar_ros/config/camera_calibration/
!/uvdar_ros/config/camera_calibration/cam_calib_results.txt