<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav1)"/>
  <arg name="uav_id" default="$(optenv UAV_ID 0)"/>
  <arg name="set_rate" default="$(optenv SET_RATE 60)"/>
  <arg name="bit_duplication_amount" default="1"/>

  <arg name="id_sequence_file" default="$(find uvdar_core)/config/com/id_sequences.txt"/>
  
  <group ns="$(arg uav_name)">

    <node name="uvdarTx" pkg="uvdar_core" type="uvdar_tx_node" output="screen" >

      <param name="uav_name" value="$(arg uav_name)" />
      <param name="uav_id" value="$(arg uav_id)" />
      <param name="set_rate" value="$(arg set_rate)" />
      <param name="bit_duplication_amount" value="$(arg bit_duplication_amount)" />

      <param name="id_sequence_file" type="string" value="$(arg id_sequence_file)"/>
      <param name="sig_setter_service" value="/$(arg uav_name)/uvdar_led_manager_node/set_message" />
      <param name="mode_setter_service" value="/$(arg uav_name)/uvdar_led_manager_node/set_mode" />
      <param name="decode_mode_setter_service" value="/$(arg uav_name)/blink_processor/set_mode" />
      <param name="frequency_setter_service" value="/$(arg uav_name)/uvdar_led_manager_node/set_frequency" />
      <param name="odom_topic" value="/$(arg uav_name)/odometry/odom_gps" />
      <param name="msgs_topic" value="/$(arg uav_name)/uvdar_communication/send_msg" />
      
      <rosparam param="estimated_framerate_topics"> ["estimated_framerate_left", "estimated_framerate_right"] </rosparam>
      <remap from="~estimated_framerate_left" to="/$(arg uav_name)/uvdar/estimated_framerate_left"/>
      <remap from="~estimated_framerate_right" to="/$(arg uav_name)/uvdar/estimated_framerate_right"/>

    </node>

  </group>
  
</launch>
