<launch>
  <arg name="uav_name" default="$(optenv UAV_NAME uav3)"/>

  <arg name="myID" default="0" if="$(eval uav_name == 'uav2')"/>
  <arg name="myID" default="1" if="$(eval uav_name == 'uav3')"/>
  <arg name="myID" default="2" if="$(eval uav_name == 'uav4')"/>
  <arg name="myID" default="3" if="$(eval uav_name == 'uav5')"/>

  <arg name="threshold" default="150"/>

  <arg name="device" default="25001879"/>
  <arg name="rate" default="100"/>
  <arg name="serial" default="$(arg device)"/>
  <arg name="camera_name" default="bluefox"/>
  <arg name="camera" default="$(arg camera_name)"/>
  <arg name="frame_id" default="$(arg camera)"/>
  <arg name="calib_url" default="file://$(find mrs_main)/camera_info/bluefox_$(arg uav_name).yaml"/>
  <arg name="fps" default="$(arg rate)"/>
  <arg name="idpf" default="0"/>
  <arg name="aec" default="false"/>
  <arg name="expose_us" default="1000"/>
  <arg name="agc" default="false"/>
  <arg name="gain_db" default="0.0"/>
  <arg name="cbm" default="0"/>
  <arg name="ctm" default="1"/>
  <arg name="dcfm" default="0"/>
  <arg name="hdr" default="false"/>
  <arg name="wbp" default="-1"/>
  <arg name="request" default="0"/>
  <arg name="mm" default="0"/>
  <arg name="jpeg_quality" default="90"/>

  <arg name="blink_process_rate" default="10"/>

  <arg name="controlYaw" default="true"/>

  <arg name="accumulator_length"         default="23"/>
  <arg name="pitch_steps"         default="16"/>
  <arg name="yaw_steps"         default="8"/>
  <arg name="max_pixel_shift"         default="2"/>

  <arg name="frequency1" default="6"/>
  <arg name="frequency2" default="10"/>
  <arg name="frequency3" default="15"/>
  <arg name="frequency4" default="30"/>

  <arg name="filterDistLength"         default="10"/>
  <arg name="filterOrientationLength"         default="10"/>

  <!-- Node Settings -->
  <arg name="output" default="screen"/>
  <arg name="proc" default="false"/>
  <arg name="view" default="false"/>
  <arg name="calib" default="false"/>

  <arg name="debug" default="false"/>
  <arg name="visual_debug" default="false"/>
  <arg name="gui" default="true"/>

  <arg name="trajectoryControl" default="true"/>

  <arg name="followDistance" default="5"/>
  <arg name="trajCoeff" default="0.8"/>
  <arg name="yawCoeff" default="0.1"/>
  <arg name="tailingCoeff" default="1.0"/>

  <arg name="SamplePointSize" default="8"/>
  <arg name="StepSize" default="10"/>
  <arg name="publish" default="true"/>
  <arg name="useOdom" default="false"/>
  <arg name="cemeraRotated" default="false"/>
  <arg name="FromVideo" default="false"/>
  <arg name="VideoNumber" default="9"/>
  <arg name="cellSize" default="64"/>
  <arg name="cellOverlay" default="16"/>
  <arg name="surroundRadius" default="3"/>
  <arg name="camNum" default="0"/>
  <arg name="Delay" default="100"/>
  <arg name="TimeScale" default="1.0"/>


  <node
    name="uvcam_tf"
    pkg="tf"
    type="static_transform_publisher"
    args="0.108 0.0 0.085 -1.57079632679 0.00000000000 -1.57079632679 $(arg uav_name)/fcu uvcam_$(arg uav_name) 100"/>

      <!-- <origin xyz="0.108 0 0.085" rpy="1.57079632679 4.71238898038 1.57079632679" /> -->
  <!--Usage: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period(milliseconds)-->
<!-- OR -->
  <group ns="$(arg uav_name)">

    <node name="blink_report" pkg="blink_processor" type="uv_blink_report_singles_node" output="screen"> 
      <param name="uav_name" type = "string" value="$(arg uav_name)"/>
      <param name="myID" type="int" value="$(arg myID)"/>

      <param name="followDistance" type="double" value="$(arg followDistance)"/>
      <param name="trajCoeff" type="double" value="$(arg trajCoeff)"/>
      <param name="yawCoeff" type="double" value="$(arg yawCoeff)"/>
      <param name="tailingCoeff" type="double" value="$(arg tailingCoeff)"/>

      <param name="filterDistLength" type="double" value="$(arg filterDistLength)"/>
      <param name="filterOrientationLength" type="double" value="$(arg filterOrientationLength)"/>

      <param name="trajectoryControl"             type="bool" value="$(arg trajectoryControl)"/>

      <param name="debug"		type="bool" value="$(arg debug)"/> 
      <param name="gui"             type="bool" value="$(arg gui)"/>
      <param name="publish"         type="bool" value="$(arg publish)"/>
      <param name="useOdom"           type="bool" value="false"/>
      <param name="justReport" type="bool" value="true"/>

      <param name="controlYaw" type="bool" value="$(arg controlYaw)"/>


      <remap from="odometry" to="/$(arg uav_name)/mrs_odometry/new_odom"/>
      <remap from="diagnostics" to="/$(arg uav_name)/control_manager/diagnostics"/>
      <remap from="~imu" to="mavros/imu/data"/>
      <remap from="blinkersSeen" to="/$(arg uav_name)/blinkersSeen"/>

      <remap from="yaw_relative_out" to="/$(arg uav_name)/control_manager/set_yaw_relative"/>

      <rosparam command="load" file="$(find uvdd)/yaml/bluefox_fisheye.yaml" />
    </node>
    <node name="blink_processor" pkg="blink_processor" type="blink_processor_node" output="screen"  > 
      <!-- <node name="blink_processor" pkg="blink_processor" type="blink_processor_node" output="screen"  launch-prefix="urxvt -e gdb -q -x /home/viktor/gdb.cmds -/-args"> --> 
        <param name="debug"		type="bool" value="false"/> 
        <param name="visual_debug"		type="bool" value="$(arg visual_debug)"/> 
        <param name="gui"             type="bool" value="$(arg gui)"/>
        <param name="InvertedPoints"    type="bool" value="false"/>

      <rosparam param="frequencies" subst_value="true"> [$(arg frequency1), $(arg frequency2), $(arg frequency3), $(arg frequency4)] </rosparam>

      <param name="blink_process_rate"         type="int" value="$(arg blink_process_rate)"/>

      <param name="accumulator_length"         type="int" value="$(arg accumulator_length)"/>
      <param name="pitch_steps"         type="int" value="$(arg pitch_steps)"/>
      <param name="yaw_steps"         type="int" value="$(arg yaw_steps)"/>
      <param name="max_pixel_shift"         type="int" value="$(arg max_pixel_shift)"/>

        <remap from="camera" to="/$(arg uav_name)/bluefox_uv/image_raw"/>
        <remap from="pointsSeen" to="/$(arg uav_name)/uvPointsSeen"/>
        <remap from="~blinkersSeen" to="/$(arg uav_name)/blinkersSeen"/>

        <rosparam command="load" file="$(find blink_processor)/yaml/bluefox_fisheye.yaml" />

      </node>
    <node name="uvdd_detect" pkg="uvdd" type="uv_detector_node" output="screen"> 
      <!-- <node name="uvdd_detect" pkg="uvdd" type="uv_detector_node" output="screen" launch-prefix="urxvt -e gdb -q -x /home/viktor/gdb.cmds -/-args"> -->
      <param name="debug"		type="bool" value="$(arg debug)"/> 
      <param name="gui"             type="bool" value="false"/>
      <!-- <param name="MaskPath"             type="string" value="$(arg MaskPath)"/> -->
      <param name="FromVideo"         type="bool" value="$(arg FromVideo)"/>
      <param name="camTopic"         type="string" value="camera"/>
      <param name="VideoNumber"     type="int" value="$(arg VideoNumber)"/>
      <param name="SamplePointSize" type="int" value="$(arg SamplePointSize)"/>
      <param name="StepSize"	type="int" value="$(arg StepSize)"/>
      <param name="cellSize"	type="int" value="$(arg cellSize)"/>
      <param name="cellOverlay"	type="int" value="$(arg cellOverlay)"/>
      <param name="surroundRadius"	type="int" value="$(arg surroundRadius)"/>
      <param name="publish"         type="bool" value="$(arg publish)"/>
      <param name="camNum"           type="int" value="$(arg camNum)"/>
      <param name="justReport" type="bool" value="true"/>
      <param name="threshold" type="int" value="$(arg threshold)"/>

      <remap from="odometry" to="/$(arg uav_name)/mrs_odometry/new_odom"/>
      <remap from="camera" to="/$(arg uav_name)/bluefox_uv/image_raw"/>
      <remap from="~imu" to="mavros/imu/data"/>
      <remap from="~pointsSeen" to="/$(arg uav_name)/uvPointsSeen"/>
      <rosparam command="load" file="$(find uvdd)/yaml/bluefox_fisheye.yaml" />
    </node>
    <node pkg="bluefox2" type="bluefox2_single_node" name="bluefox_uv" output="screen">
      <param name="identifier" type="string" value="$(arg serial)"/>
      <param name="frame_id" type="string" value="$(arg frame_id)"/>
      <param name="camera_name" type="string" value="$(arg camera_name)"/>
      <param name="calib_url" type="string" value="$(arg calib_url)"/>
      <param name="fps" type="double" value="$(arg fps)"/>
      <param name="idpf" type="int" value="$(arg idpf)"/>
      <param name="aec" type="bool" value="$(arg aec)"/>
      <param name="expose_us" type="int" value="$(arg expose_us)"/>
      <param name="agc" type="bool" value="$(arg agc)"/>
      <param name="gain_db" type="double" value="$(arg gain_db)"/>
      <param name="cbm" type="int" value="$(arg cbm)"/>
      <param name="ctm" type="int" value="$(arg ctm)"/>
      <param name="dcfm" type="int" value="$(arg dcfm)"/>
      <param name="hdr" type="bool" value="$(arg hdr)"/>
      <param name="wbp" type="int" value="$(arg wbp)"/>
      <param name="request" type="int" value="$(arg request)"/>
      <param name="mm" type="int" value="$(arg mm)"/>

      <!-- Params for theora quality, images being compressed into "stream" -->
      <param name="image_raw/compressed/jpeg_quality" type="int" value="$(arg jpeg_quality)"/>
      <param name="image_raw/theora/keyframe_frequency" value="60" />
      <param name="image_raw/theora/target_bitrate" value="50000" />
      <param name="image_raw/theora/quality" value="8" />
      <param name="image_raw/theora/optimize_for" value="0" />
    </node>
    </group>

  <!-- </group> -->



  </launch>
