<launch>
  <arg name="uav_name" default="$(optenv UAV_NAME uav1)"/>

  <arg name="standalone" default="false"/>

  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg uav_name)_uvdar_nodelet_manager"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <!-- Node Settings -->
  <arg name="output" default="screen"/>
  <arg name="proc" default="false"/>
  <arg name="calib" default="false"/>

  <arg name="debug" default="false"/>
  <arg name="visual_debug" default="false"/>
  <arg name="gui" default="true"/>


  <group ns="$(arg uav_name)">


  
  <!-- <node pkg="uvdar" type="uvdar_kalman_node" name="filterUvdar" output="screen" launch-prefix="debug_roslaunch"> -->
  <node pkg="uvdar" type="uvdar_kalman_node" name="filterUvdar" output="screen">
    <param name="output_frame" value="$(arg uav_name)/fcu"/>
    <!-- <param name="output_frame" value="$(arg uav_name)/fcu"/> -->
    <!-- <param name="base_footprint_frame" value="$(arg uav_name)/fcu"/> -->
    <!-- <param name="base_footprint_frame" value="uvdar_target_estim"/> -->
    <!-- <param name="sensor_timeout" value="1.0"/> -->
    <!-- <param name="odom_used" value="false"/> -->
    <!-- <param name="imu_used" value="false"/> -->
    <!-- <param name="vo_used" value="false"/> -->
    <!-- <param name="uvdar_used" value="true"/> -->
    <!-- <param name="debug" value="false"/> -->
    <!-- <param name="self_diagnose" value="false"/> -->

    <remap from="measuredPose1" to="/$(arg uav_name)/uvdar/measuredPose1"/>
    <remap from="measuredPose2" to="/$(arg uav_name)/uvdar/measuredPose2"/>
    <remap from="filteredPose1" to="/$(arg uav_name)/uvdar/filteredPose1"/>
    <remap from="filteredPose2" to="/$(arg uav_name)/uvdar/filteredPose2"/>
    <remap from="filteredPose1/tentative" to="/$(arg uav_name)/uvdar/filteredPose1/tentative"/>
    <remap from="filteredPose2/tentative" to="/$(arg uav_name)/uvdar/filteredPose2/tentative"/>

  </node>
    </group>


  <!-- </group> -->



  </launch>
