<launch>
  <arg name="uav_name" default="$(optenv UAV_NAME uav1)"/>

  <arg name="standalone" default="false"/>

  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg uav_name)_uvdar_nodelet_manager"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <arg name="threshold" default="180"/>

  <arg name="publish_visualization"         default="true"/>
  <arg name="visualizationRate"         default="1"/>
  
 

  <arg name="device" default="$(optenv BLUEFOX_UV)"/>
  <arg name="rate" default="100"/>
  <arg name="serial" default="$(arg device)"/>
  <arg name="camera_name" default="mv_$(arg device)"/>
  <arg name="camera" default="$(arg camera_name)"/>
  <arg name="frame_id" default="$(arg camera)"/>
  <arg name="calib_url" default="file://$(find mrs_general)/camera_info/uvdar_bluefox.yaml"/>
  <arg name="fps" default="$(arg rate)"/>
  <arg name="idpf" default="0"/>
  <arg name="aec" default="false"/>
  <arg name="expose_us" default="1000"/>
  <arg name="agc" default="false"/>
  <arg name="gain_db" default="0.0"/>
  <arg name="cbm" default="0"/>
  <arg name="ctm" default="1"/>
  <arg name="dcfm" default="0"/>
  <arg name="hdr" default="false"/>
  <arg name="wbp" default="-1"/>
  <arg name="request" default="0"/>
  <arg name="mm" default="0"/>
  <arg name="jpeg_quality" default="90"/>

  <arg name="blink_process_rate" default="10"/>

  <arg name="accumulator_length"         default="23"/>
  <arg name="pitch_steps"         default="16"/>
  <arg name="yaw_steps"         default="8"/>
  <arg name="max_pixel_shift"         default="2"/>

  <arg name="filterDistLength"         default="10"/>
  <arg name="filterOrientationLength"         default="10"/>

  <!-- Node Settings -->
  <arg name="output" default="screen"/>
  <arg name="proc" default="false"/>
  <arg name="view" default="false"/>
  <arg name="calib" default="false"/>

  <arg name="debug" default="false"/>
  <arg name="visual_debug" default="false"/>
  <arg name="gui" default="false"/>
  <!-- <arg name="gui" default="false"/> -->

  <arg name="trajectoryControl" default="true"/>

  <arg name="followDistance" default="5"/>
  <arg name="trajCoeff" default="0.8"/>
  <arg name="yawCoeff" default="0.1"/>
  <arg name="tailingCoeff" default="1.0"/>

  <arg name="SamplePointSize" default="8"/>
  <arg name="StepSize" default="10"/>
  <arg name="publish" default="true"/>
  <arg name="useOdom" default="false"/>
  <arg name="cemeraRotated" default="false"/>
  <arg name="FromVideo" default="false"/>
  <arg name="VideoNumber" default="9"/>
  <arg name="cellSize" default="64"/>
  <arg name="cellOverlay" default="16"/>
  <arg name="surroundRadius" default="3"/>
  <arg name="camNum" default="0"/>
  <arg name="Delay" default="100"/>
  <arg name="TimeScale" default="1.0"/>

  <arg name="calib_file" default="calib_results_bf_uv_fe.txt"/>

  <arg name="frequency1"  default="6"/>
  <arg name="frequency2"  default="10"/>
  <arg name="frequency3"  default="15"/>
  <arg name="frequency4"  default="30"/>

  <node
    name="uvcam_tf"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 -1.57079632679 0.00000000000 -1.57079632679 $(arg uav_name)/fcu uvcam_$(arg uav_name) 100"/>

      <!-- <origin xyz="0.108 0 0.085" rpy="1.57079632679 4.71238898038 1.57079632679" /> -->
  <!--Usage: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period(milliseconds)-->
<!-- OR -->
  <group ns="$(arg uav_name)">
  
    <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_uvdar_nodelet_manager" args="manager" output="screen">
      <param name="num_worker_threads" value="8" />
    </node>

    <node pkg="nodelet" type="nodelet" name="uvdar_bluefox" args="$(arg nodelet) bluefox2/SingleNodelet $(arg nodelet_manager)" respawn="true" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'">
      <param name="identifier" type="string" value="$(arg serial)"/>
      <param name="frame_id" type="string" value="$(arg frame_id)"/>
      <param name="camera_name" type="string" value="$(arg camera_name)"/>
      <param name="calib_url" type="string" value="$(arg calib_url)"/>
      <param name="fps" type="double" value="$(arg fps)"/>
      <param name="idpf" type="int" value="$(arg idpf)"/>
      <param name="aec" type="bool" value="$(arg aec)"/>
      <param name="expose_us" type="int" value="$(arg expose_us)"/>
      <param name="agc" type="bool" value="$(arg agc)"/>
      <param name="gain_db" type="double" value="$(arg gain_db)"/>
      <param name="cbm" type="int" value="$(arg cbm)"/>
      <param name="ctm" type="int" value="$(arg ctm)"/>
      <param name="dcfm" type="int" value="$(arg dcfm)"/>
      <param name="hdr" type="bool" value="$(arg hdr)"/>
      <param name="wbp" type="int" value="$(arg wbp)"/>
      <param name="request" type="int" value="$(arg request)"/>
      <param name="mm" type="int" value="$(arg mm)"/>

      <!-- Params for theora quality, images being compressed into "stream" -->
      <param name="image_raw/compressed/jpeg_quality" type="int" value="$(arg jpeg_quality)"/>
      <param name="image_raw/theora/keyframe_frequency" value="60" />
      <param name="image_raw/theora/target_bitrate" value="50000" />
      <param name="image_raw/theora/quality" value="8" />
      <param name="image_raw/theora/optimize_for" value="0" />

       <!-- <group ns="uvdar_bluefox/image_raw"> -->
       <!--   <rosparam param="disable_pub_plugins"> -->
       <!--   - 'image_transport/compressedDepth' -->
       <!--   </rosparam> -->
       <!-- </group> -->



    </node>

    <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="bash -c 'sleep 5; $0 $@'">
      <param name="debug"		type="bool" value="$(arg debug)"/> 
      <param name="gui"             type="bool" value="false"/>
      <param name="FromVideo"         type="bool" value="$(arg FromVideo)"/>
      <param name="camTopic"         type="string" value="camera"/>
      <param name="VideoNumber"     type="int" value="$(arg VideoNumber)"/>
      <param name="SamplePointSize" type="int" value="$(arg SamplePointSize)"/>
      <param name="StepSize"	type="int" value="$(arg StepSize)"/>
      <param name="cellSize"	type="int" value="$(arg cellSize)"/>
      <param name="cellOverlay"	type="int" value="$(arg cellOverlay)"/>
      <param name="surroundRadius"	type="int" value="$(arg surroundRadius)"/>
      <param name="publish"         type="bool" value="$(arg publish)"/>
      <param name="camNum"           type="int" value="$(arg camNum)"/>
      <param name="justReport" type="bool" value="true"/>
      <param name="threshold" type="int" value="$(arg threshold)"/>

      <remap from="~odometry" to="/$(arg uav_name)/mrs_odometry/new_odom"/>
      <remap from="~camera" to="/$(arg uav_name)/uvdar_bluefox/image_raw"/>
      <remap from="~imu" to="mavros/imu/data"/>
      <remap from="~pointsSeen" to="/$(arg uav_name)/uvdar/uvPointsSeen"/>
    </node>
    <node name="blink_processor" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARBlinkProcessor $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="bash -c 'sleep 5; $0 $@'"> 
        <param name="debug"		type="bool" value="$(arg debug)"/> 
        <param name="visual_debug"		type="bool" value="$(arg visual_debug)"/> 
        <param name="gui"             type="bool" value="$(arg gui)"/>
        <param name="InvertedPoints"    type="bool" value="false"/>

      <rosparam param="frequencies" subst_value="true"> [$(arg frequency1), $(arg frequency2), $(arg frequency3), $(arg frequency4)] </rosparam>
  

        <param name="publish_visualization"         type="bool" value="$(arg publish_visualization)"/>
        <param name="visualization_rate"         type="int" value="$(arg visualization_rate)"/>
 

      <param name="blink_process_rate"         type="int" value="$(arg blink_process_rate)"/>

      <param name="accumulator_length"         type="int" value="$(arg accumulator_length)"/>
      <param name="pitch_steps"         type="int" value="$(arg pitch_steps)"/>
      <param name="yaw_steps"         type="int" value="$(arg yaw_steps)"/>
      <param name="max_pixel_shift"         type="int" value="$(arg max_pixel_shift)"/>

      <remap from="~camera" to="/$(arg uav_name)/uvdar_bluefox/image_raw"/>
      <remap from="~pointsSeen" to="/$(arg uav_name)/uvdar/uvPointsSeen"/>
      <remap from="~blinkersSeen" to="/$(arg uav_name)/uvdar/blinkersSeen"/>
      <remap from="~estimatedFramerate" to="/$(arg uav_name)/uvdar/estimatedFramerate"/>
      <remap from="~visualization" to="/$(arg uav_name)/uvdar/blink_visualization/image_raw"/>


      </node>
      
    <!-- <node name="uvdar_uav_pose_calculator_node" pkg="uvdar" type="uvdar_uav_pose_calculator_node" output="screen" launch-prefix="debug_roslaunch"> --> 
    <node name="uvdar_uav_pose_calculator_node" pkg="uvdar" type="uvdar_uav_pose_calculator_node" output="screen"> 
      <param name="uav_name" type = "string" value="$(arg uav_name)"/>

      <param name="debug"		type="bool" value="true"/> 
      <param name="gui"             type="bool" value="$(arg gui)"/>
      <param name="publish"         type="bool" value="$(arg publish)"/>
      <param name="frequencies_per_target" type="int" value="2"/>
      <param name="calib_file" type="string" value="$(arg calib_file)"/>

      <remap from="blinkersSeen" to="/$(arg uav_name)/uvdar/blinkersSeen"/>
      <remap from="estimatedFramerate" to="/$(arg uav_name)/uvdar/estimatedFramerate"/>
      <remap from="measuredPose1" to="/$(arg uav_name)/uvdar/measuredPose1"/>
      <remap from="measuredPose2" to="/$(arg uav_name)/uvdar/measuredPose2"/>
    </node>
    </group>


  <!-- </group> -->



  </launch>
