
<launch>
  <arg name="uav_name" default="$(optenv UAV_NAME uav2)"/>

  <arg name="standalone" default="false"/>

  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg uav_name)_uvdar_nodelet_manager"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <arg name="threshold" default="50"/>

  <arg name="left" default="$(optenv BLUEFOX_UV_LEFT)"/>
  <arg name="right" default="$(optenv BLUEFOX_UV_RIGHT)"/>
  <arg name="left_camera_name" default="mv_$(arg left)"/>
  <arg name="right_camera_name" default="mv_$(arg right)"/>
  <arg name="expose_us_left" default="$(optenv BLUEFOX_UV_LEFT_EXPOSE_US)"/>
  <arg name="expose_us_right" default="$(optenv BLUEFOX_UV_RIGHT_EXPOSE_US)"/>

  <arg name="rate" default="100"/>
  <arg name="camera_name" default="bluefox"/>
  <arg name="camera" default="$(arg camera_name)"/>
  <arg name="frame_id" default="$(arg camera)"/>
  <arg name="calib_url" default="file://$(find mrs_uav_general)/camera_info/bluefox_$(arg uav_name).yaml"/>
  <arg name="fps" default="$(arg rate)"/>
  <arg name="idpf" default="0"/>
  <arg name="aec" default="false"/>
  <arg name="agc" default="false"/>
  <arg name="gain_db" default="0.0"/>
  <arg name="cbm" default="0"/>
  <arg name="ctm" default="1"/>
  <arg name="dcfm" default="0"/>
  <arg name="hdr" default="false"/>
  <arg name="wbp" default="-1"/>
  <arg name="request" default="0"/>
  <arg name="mm" default="0"/>
  <arg name="jpeg_quality" default="90"/>


  <arg name="filterDistLength"         default="10"/>
  <arg name="filterOrientationLength"         default="10"/>

  <!-- Node Settings -->
  <arg name="output" default="screen"/>
  <arg name="proc" default="false"/>
  <arg name="view" default="false"/>
  <arg name="calib" default="false"/>

  <arg name="debug" default="false"/>
  <arg name="visual_debug" default="false"/>
  <arg name="gui" default="true"/>
  <!-- <arg name="gui" default="false"/> -->

  <arg name="trajectoryControl" default="true"/>

  <arg name="followDistance" default="5"/>
  <arg name="trajCoeff" default="0.8"/>
  <arg name="yawCoeff" default="0.1"/>
  <arg name="tailingCoeff" default="1.0"/>

  <arg name="SamplePointSize" default="8"/>
  <arg name="StepSize" default="10"/>
  <arg name="publish" default="true"/>
  <arg name="useOdom" default="false"/>
  <arg name="cemeraRotated" default="false"/>
  <arg name="FromVideo" default="false"/>
  <arg name="VideoNumber" default="9"/>
  <arg name="cellSize" default="64"/>
  <arg name="cellOverlay" default="16"/>
  <arg name="surroundRadius" default="3"/>
  <arg name="camNum" default="0"/>
  <arg name="Delay" default="100"/>
  <arg name="TimeScale" default="1.0"/>


  <node
    name="uvcam_left_tf_$(arg uav_name)"
    pkg="tf"
    type="static_transform_publisher"
    args="0.0041 0.1076 0.2 0.97803368 0.0 -1.57079632679 $(arg uav_name)/fcu uvcam_left_$(arg uav_name) 100"/>

  <node
    name="uvcam_right_tf_$(arg uav_name)"
    pkg="tf"
    type="static_transform_publisher"
    args="0.0772 0.0751 0.2 4.468788898 0.0 -1.57079632679 $(arg uav_name)/fcu uvcam_right_$(arg uav_name) 100"/>

      <!-- <origin xyz="0.108 0 0.085" rpy="1.57079632679 4.71238898038 1.57079632679" /> -->
  <!--Usage: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period(milliseconds)-->
<!-- OR -->
  <group ns="$(arg uav_name)">
  
    <!-- <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_uvdar_nodelet_manager" args="manager" output="screen" launch-prefix="debug_roslaunch"> -->
    <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_uvdar_nodelet_manager" args="manager" output="screen" >
      <param name="num_worker_threads" value="8" />
    </node>

    <!-- <node pkg="nodelet" type="nodelet" name="uvdar_bluefox" args="$(arg nodelet) bluefox2/StereoNodelet $(arg nodelet_manager)" respawn="true" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'"> -->
    <!--   <param name="left/camera_name" type="string" value="$(arg left_camera_name)"/> -->
    <!--   <param name="left/identifier" type="string" value="$(arg left)"/> -->

    <!--   <param name="right/camera_name" type="string" value="$(arg right_camera_name)"/> -->
    <!--   <param name="right/identifier" type="string" value="$(arg right)"/> -->

    <!--   <param name="frame_id" type="string" value="$(arg frame_id)"/> -->
    <!--   <param name="fps" type="double" value="$(arg fps)"/> -->
    <!--   <param name="idpf" type="int" value="$(arg idpf)"/> -->
    <!--   <param name="aec" type="bool" value="$(arg aec)"/> -->
    <!--   <param name="expose_us" type="int" value="$(arg expose_us)"/> -->
    <!--   <param name="agc" type="bool" value="$(arg agc)"/> -->
    <!--   <param name="gain_db" type="double" value="$(arg gain_db)"/> -->
    <!--   <param name="cbm" type="int" value="$(arg cbm)"/> -->
    <!--   <param name="ctm" type="int" value="$(arg ctm)"/> -->
    <!--   <param name="dcfm" type="int" value="$(arg dcfm)"/> -->
    <!--   <param name="hdr" type="bool" value="$(arg hdr)"/> -->
    <!--   <param name="wbp" type="int" value="$(arg wbp)"/> -->
    <!--   <param name="request" type="int" value="$(arg request)"/> -->
    <!--   <param name="mm" type="int" value="$(arg mm)"/> -->

    <!--   <param name="image_raw/compressed/jpeg_quality" type="int" value="$(arg jpeg_quality)"/> -->
    <!--   <param name="image_raw/theora/keyframe_frequency" value="60" /> -->
    <!--   <param name="image_raw/theora/target_bitrate" value="50000" /> -->
    <!--   <param name="image_raw/theora/quality" value="8" /> -->
    <!--   <param name="image_raw/theora/optimize_for" value="0" /> -->
    <!-- </node> -->

    <node pkg="nodelet" type="nodelet" name="uvdar_bluefox_left" args="$(arg nodelet) bluefox2/SingleNodelet $(arg nodelet_manager)" respawn="true" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'">
      <param name="camera_name" type="string" value="$(arg left_camera_name)"/>
      <param name="identifier" type="string" value="$(arg left)"/>

      <param name="frame_id" type="string" value="$(arg frame_id)"/>
      <param name="fps" type="double" value="$(arg fps)"/>
      <param name="idpf" type="int" value="$(arg idpf)"/>
      <param name="aec" type="bool" value="$(arg aec)"/>
      <param name="expose_us" type="int" value="$(arg expose_us_left)"/>
      <param name="agc" type="bool" value="$(arg agc)"/>
      <param name="gain_db" type="double" value="$(arg gain_db)"/>
      <param name="cbm" type="int" value="$(arg cbm)"/>
      <param name="ctm" type="int" value="$(arg ctm)"/>
      <param name="dcfm" type="int" value="$(arg dcfm)"/>
      <param name="hdr" type="bool" value="$(arg hdr)"/>
      <param name="wbp" type="int" value="$(arg wbp)"/>
      <param name="request" type="int" value="$(arg request)"/>
      <param name="mm" type="int" value="$(arg mm)"/>

      <param name="image_raw/compressed/jpeg_quality" type="int" value="$(arg jpeg_quality)"/>
      <param name="image_raw/theora/keyframe_frequency" value="60" />
      <param name="image_raw/theora/target_bitrate" value="50000" />
      <param name="image_raw/theora/quality" value="8" />
      <param name="image_raw/theora/optimize_for" value="0" />
    </node>

    <node pkg="nodelet" type="nodelet" name="uvdar_bluefox_right" args="$(arg nodelet) bluefox2/SingleNodelet $(arg nodelet_manager)" respawn="true" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'">
      <param name="camera_name" type="string" value="$(arg right_camera_name)"/>
      <param name="identifier" type="string" value="$(arg right)"/>

      <param name="frame_id" type="string" value="$(arg frame_id)"/>
      <param name="fps" type="double" value="$(arg fps)"/>
      <param name="idpf" type="int" value="$(arg idpf)"/>
      <param name="aec" type="bool" value="$(arg aec)"/>
      <param name="expose_us" type="int" value="$(arg expose_us_right)"/>
      <param name="agc" type="bool" value="$(arg agc)"/>
      <param name="gain_db" type="double" value="$(arg gain_db)"/>
      <param name="cbm" type="int" value="$(arg cbm)"/>
      <param name="ctm" type="int" value="$(arg ctm)"/>
      <param name="dcfm" type="int" value="$(arg dcfm)"/>
      <param name="hdr" type="bool" value="$(arg hdr)"/>
      <param name="wbp" type="int" value="$(arg wbp)"/>
      <param name="request" type="int" value="$(arg request)"/>
      <param name="mm" type="int" value="$(arg mm)"/>

      <param name="image_raw/compressed/jpeg_quality" type="int" value="$(arg jpeg_quality)"/>
      <param name="image_raw/theora/keyframe_frequency" value="60" />
      <param name="image_raw/theora/target_bitrate" value="50000" />
      <param name="image_raw/theora/quality" value="8" />
      <param name="image_raw/theora/optimize_for" value="0" />
    </node>
  </group>


  <!-- </group> -->
</launch>
