<launch>
  <arg name="uav_name" default="$(optenv UAV_NAME uav2)"/>

  <arg name="standalone" default="false"/>

  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg uav_name)_uvdar_nodelet_manager"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <arg name="threshold" default="100"/>

  <arg name="device" default="25001879"/>
  <arg name="rate" default="100"/>
  <arg name="serial" default="$(arg device)"/>
  <arg name="camera_name" default="bluefox"/>
  <arg name="camera" default="$(arg camera_name)"/>
  <arg name="frame_id" default="$(arg camera)"/>
  <arg name="calib_url" default="file://$(find mrs_general)/camera_info/bluefox_$(arg uav_name).yaml"/>
  <arg name="fps" default="$(arg rate)"/>
  <arg name="idpf" default="0"/>
  <arg name="aec" default="false"/>
  <arg name="expose_us" default="1000"/>
  <arg name="agc" default="false"/>
  <arg name="gain_db" default="0.0"/>
  <arg name="cbm" default="0"/>
  <arg name="ctm" default="1"/>
  <arg name="dcfm" default="0"/>
  <arg name="hdr" default="false"/>
  <arg name="wbp" default="-1"/>
  <arg name="request" default="0"/>
  <arg name="mm" default="0"/>
  <arg name="jpeg_quality" default="90"/>

  <arg name="processRate" default="10"/>

  <arg name="accumulatorLength"         default="23"/>
  <arg name="pitchSteps"         default="16"/>
  <arg name="yawSteps"         default="16"/>
  <arg name="maxPixelShift"         default="3"/>

  <arg name="filterDistLength"         default="10"/>
  <arg name="filterOrientationLength"         default="10"/>

  <!-- Node Settings -->
  <arg name="output" default="screen"/>
  <arg name="proc" default="false"/>
  <arg name="view" default="false"/>
  <arg name="calib" default="false"/>

  <arg name="DEBUG" default="false"/>
  <arg name="VisDEBUG" default="false"/>
  <arg name="gui" default="true"/>
  <!-- <arg name="gui" default="false"/> -->

  <arg name="trajectoryControl" default="true"/>

  <arg name="followDistance" default="5"/>
  <arg name="trajCoeff" default="0.8"/>
  <arg name="yawCoeff" default="0.1"/>
  <arg name="tailingCoeff" default="1.0"/>

  <arg name="SamplePointSize" default="8"/>
  <arg name="StepSize" default="10"/>
  <arg name="publish" default="true"/>
  <arg name="useOdom" default="false"/>
  <arg name="cemeraRotated" default="false"/>
  <arg name="FromVideo" default="false"/>
  <arg name="VideoNumber" default="9"/>
  <arg name="cellSize" default="64"/>
  <arg name="cellOverlay" default="16"/>
  <arg name="surroundRadius" default="3"/>
  <arg name="camNum" default="0"/>
  <arg name="Delay" default="100"/>
  <arg name="TimeScale" default="1.0"/>

  <!--
  <node
    name="uvcam_left_tf_$(arg uav_name)"
    pkg="tf"
    type="static_transform_publisher"
    args="0.09 0.04 0.2 -1.57079632679 0.00000000000 -1.57079632679 $(arg uav_name)/fcu uvcam_left 100"/>

  <node
    name="uvcam_right_tf_$(arg uav_name)"
    pkg="tf"
    type="static_transform_publisher"
    args="-0.090 0.04 0.200 -1.57079632679 0.00000000000 1.57079632679 $(arg uav_name)/fcu uvcam_right 100"/>
  -->

  <node
    name="uvcam_left_tf_$(arg uav_name)"
    pkg="tf"
    type="static_transform_publisher"
    args="0.04 0.11 0.7 -0.3490658504 0.0 -1.57079632679 $(arg uav_name)/fcu uvcam_left_$(arg uav_name) 100"/>

  <node
    name="uvcam_right_tf_$(arg uav_name)"
    pkg="tf"
    type="static_transform_publisher"
    args="0.04 -0.11 0.7 -2.792526803 0.0 -1.57079632679 $(arg uav_name)/fcu uvcam_right_$(arg uav_name) 100"/>

      <!-- <origin xyz="0.108 0 0.085" rpy="1.57079632679 4.71238898038 1.57079632679" /> -->
  <!--Usage: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period(milliseconds)-->
<!-- OR -->
  <group ns="$(arg uav_name)">
  
    <!-- <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_uvdar_nodelet_manager" args="manager" output="screen" launch-prefix="valgrind -/-tool=callgrind -/-callgrind-out-file=/home/viktor/callgrind.out -/-instr-atstart=no -/-collect-atstart=yes"> -->
    <!-- <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_uvdar_nodelet_manager" args="manager" output="screen" launch-prefix="debug_roslaunch"> -->
    <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_uvdar_nodelet_manager" args="manager" output="screen" >
      <param name="num_worker_threads" value="8" />
    </node>

    <node name="bluefox_emulator" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARBluefoxEmulator $(arg nodelet_manager)" output="screen" respawn="true"> 
      <rosparam param="camera_output_topics"> ["camera_left", "camera_right"] </rosparam>
      <rosparam param="calib_files"> ["default", "default"] </rosparam>

      <remap from="~camera_left" to="/$(arg uav_name)/uvdar_bluefox_left/image_raw"/>
      <remap from="~camera_right" to="/$(arg uav_name)/uvdar_bluefox_right/image_raw"/>
      <remap from="~camera_left_transfer" to="/gazebo/$(arg uav_name)/uvdar_bluefox_left/image_raw"/>
      <remap from="~camera_right_transfer" to="/gazebo/$(arg uav_name)/uvdar_bluefox_right/image_raw"/>
    </node>


    <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="true"> 
    <!-- <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="debug_roslaunch"> --> 
      <!-- <node name="uv_detect" pkg="uvdar" type="uv_detector_node" output="screen" launch-prefix="urxvt -e gdb -q -x /home/viktor/gdb.cmds -/-args"> -->
        <!-- <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="valgrind -/-tool=callgrind -/-callgrind-out-file=/home/viktor/callgrind.out -/-instr-atstart=no -/-collect-atstart=yes"> --> 

      <param name="debug"		type="bool" value="$(arg DEBUG)"/> 
      <param name="gui"             type="bool" value="false"/>
      <!-- <param name="MaskPath"             type="string" value="$(arg MaskPath)"/> -->
      <param name="FromVideo"         type="bool" value="$(arg FromVideo)"/>
      <param name="VideoNumber"     type="int" value="$(arg VideoNumber)"/>
      <param name="SamplePointSize" type="int" value="$(arg SamplePointSize)"/>
      <param name="StepSize"	type="int" value="$(arg StepSize)"/>
      <param name="cellSize"	type="int" value="$(arg cellSize)"/>
      <param name="cellOverlay"	type="int" value="$(arg cellOverlay)"/>
      <param name="surroundRadius"	type="int" value="$(arg surroundRadius)"/>
      <param name="publish"         type="bool" value="$(arg publish)"/>
      <param name="camNum"           type="int" value="$(arg camNum)"/>
      <param name="justReport" type="bool" value="true"/>
      <param name="threshold" type="int" value="$(arg threshold)"/>

      <rosparam param="camera_topics"> ["camera_left", "camera_right"] </rosparam>
      <rosparam param="points_seen_topics"> ["points_seen_left", "points_seen_right"] </rosparam>

      <remap from="~camera_left" to="/$(arg uav_name)/uvdar_bluefox_left/image_raw"/>
      <remap from="~camera_right" to="/$(arg uav_name)/uvdar_bluefox_right/image_raw"/>
      <remap from="~points_seen_left" to="/$(arg uav_name)/uvdar/points_seen_left"/>
      <remap from="~points_seen_right" to="/$(arg uav_name)/uvdar/points_seen_right"/>

      <remap from="~odometry" to="/$(arg uav_name)/mrs_odometry/new_odom"/>
      <remap from="~imu" to="mavros/imu/data"/>
    </node>

    <node name="blink_processor" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARBlinkProcessor $(arg nodelet_manager)" output="screen" respawn="true"> 
    <!-- <node name="blink_processor" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARBlinkProcessor $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="roslaunch_debug"> --> 
      <!-- <node name="blink_processor" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARBlinkProcessor $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="valgrind -/-tool=callgrind -/-callgrind-out-file=/home/viktor/callgrind.out -/-instr-atstart=no -/-collect-atstart=yes"> --> 
      <param name="uav_name" type = "string" value="$(arg uav_name)"/>
      <!-- <param name="DEBUG"		type="bool" value="$(arg DEBUG)"/> --> 
      <param name="DEBUG"		type="bool" value="false"/> 
      <param name="VisDEBUG"		type="bool" value="$(arg VisDEBUG)"/> 
      <!-- <param name="GUI"             type="bool" value="false"/> -->
      <param name="GUI"             type="bool" value="$(arg gui)"/>
      <param name="InvertedPoints"    type="bool" value="false"/>
      <param name="frequencyCount" type="int" value="2"/>
      <!-- <param name="frequency1" type="int" value="12"/> -->
      <!-- <param name="frequency2" type="int" value="24"/> -->
      <!-- <param name="frequency3" type="int" value="16"/> -->
      <param name="legacy" type="bool" value="false"/>

      <param name="frequency1" type="int" value="15"/>
      <param name="frequency2" type="int" value="30"/>
      <!-- <param name="frequency3" type="int" value="28"/> -->

      <param name="processRate"         type="int" value="$(arg processRate)"/>

      <param name="accumulatorLength"         type="int" value="$(arg accumulatorLength)"/>
      <param name="pitchSteps"         type="int" value="$(arg pitchSteps)"/>
      <param name="yawSteps"         type="int" value="$(arg yawSteps)"/>
      <param name="maxPixelShift"         type="int" value="$(arg maxPixelShift)"/>
      <param name="returnFrequencies"         type="bool" value="true"/>
      <param name="nullifyRadius"         type="int" value="8"/>
      <param name="UseCameraForVisualization"         type="bool" value="false"/>

      <rosparam param="camera_topics"> ["camera_left", "camera_right"] </rosparam>
      <rosparam param="points_seen_topics"> ["points_seen_left", "points_seen_right"] </rosparam>
      <rosparam param="blinkersSeenTopics"> ["blinkers_seen_left", "blinkers_seen_right"] </rosparam>
      <rosparam param="estimatedFramerateTopics"> ["estimated_framerate_left", "estimated_framerate_right"] </rosparam>

      <remap from="~camera_left" to="/$(arg uav_name)/uvdar_bluefox_left/image_raw"/>
      <remap from="~camera_right" to="/$(arg uav_name)/uvdar_bluefox_right/image_raw"/>
      <remap from="~points_seen_left" to="/$(arg uav_name)/uvdar/points_seen_left"/>
      <remap from="~points_seen_right" to="/$(arg uav_name)/uvdar/points_seen_right"/>
      <remap from="~blinkers_seen_left" to="/$(arg uav_name)/uvdar/blinkers_seen_left"/>
      <remap from="~blinkers_seen_right" to="/$(arg uav_name)/uvdar/blinkers_seen_right"/>
      <remap from="~estimated_framerate_left" to="/$(arg uav_name)/uvdar/estimated_framerate_left"/>
      <remap from="~estimated_framerate_right" to="/$(arg uav_name)/uvdar/estimated_framerate_right"/>
      <remap from="~visualization" to="/$(arg uav_name)/uvdar/blink_visualization/image_raw"/>

    </node>
      
    <!-- <node name="uvdar_uav_pose_calculator_node" pkg="uvdar" type="uvdar_uav_pose_calculator_node" output="screen" launch-prefix="debug_roslaunch"> --> 
    <node name="uvdar_uav_pose_calculator_node" pkg="uvdar" type="uvdar_uav_pose_calculator_node" output="screen" > 
      <param name="uav_name" type = "string" value="$(arg uav_name)"/>
      <param name="DEBUG"		type="bool" value="false"/> 
      <param name="gui"             type="bool" value="$(arg gui)"/>
      <param name="publish"         type="bool" value="$(arg publish)"/>
      <param name="frequenciesPerTarget" type="int" value="2"/>
      <param name="targetCount" type="int" value="1"/>
      <param name="frequency1" type="int" value="15"/>
      <param name="frequency2" type="int" value="30"/>
      <!-- <param name="frequency3" type="int" value="28"/> -->

      <param name="quadrotor" type="bool" value="true"/>
      <param name="arm_lenght" type="double" value="0.245"/>

      <rosparam param="blinkersSeenTopics"> ["blinkers_seen_left", "blinkers_seen_right"] </rosparam>
      <rosparam param="estimatedFramerateTopics"> ["estimated_framerate_left", "estimated_framerate_right"] </rosparam>
      <rosparam param="cameraFrames" subst_value="true"> ["uvcam_left_$(arg uav_name)", "uvcam_right_$(arg uav_name)"] </rosparam>

      <remap from="~blinkers_seen_left" to="/$(arg uav_name)/uvdar/blinkers_seen_left"/>
      <remap from="~blinkers_seen_right" to="/$(arg uav_name)/uvdar/blinkers_seen_right"/>
      <remap from="~estimated_framerate_left" to="/$(arg uav_name)/uvdar/estimated_framerate_left"/>
      <remap from="~estimated_framerate_right" to="/$(arg uav_name)/uvdar/estimated_framerate_right"/>

      <rosparam param="calibFiles" subst_value="true"> ["calib_results_bf_uv_fe.txt", "calib_results_bf_uv_fe).txt"] </rosparam>

      <remap from="~measuredPose1" to="/$(arg uav_name)/uvdar/measuredPose1"/>
      <remap from="~measuredPose2" to="/$(arg uav_name)/uvdar/measuredPose2"/>
      <remap from="~measuredPose3" to="/$(arg uav_name)/uvdar/measuredPose3"/>
    </node>
  </group>


  <!-- </group> -->
</launch>
