ACTION=="add", SUBSYSTEM=="leds", KERNEL=="uvled", RUN+="/bin/chmod a+w /sys/class/leds/%k/brightness"
ACTION=="add", SUBSYSTEM=="leds", KERNEL=="uvled", RUN+="/bin/chmod a+w /sys/class/leds/%k/trigger"

