<launch>
  <arg name="uav_name" default="$(optenv UAV_NAME uav2)"/>

  <arg name="standalone" default="false"/>

  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg uav_name)_uvdar_nodelet_manager"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <arg name="threshold" default="50"/>

  <arg name="front" default="raspi_cam"/>

  <arg name="calibrations_folder" default="$(find mrs_uav_deployment)/config/uvdar_calibrations"/>

  <arg name="camera_rate" default="59.90"/>
  <arg name="fps" default="$(arg camera_rate)"/>
  <arg name="idpf" default="0"/>
  <arg name="aec" default="false"/>
  <arg name="agc" default="false"/>
  <arg name="gain_db" default="0.0"/>
  <arg name="cbm" default="0"/>
  <arg name="ctm" default="1"/>
  <arg name="dcfm" default="0"/>
  <arg name="hdr" default="false"/>
  <arg name="wbp" default="-1"/>
  <arg name="request" default="0"/>
  <arg name="mm" default="0"/>
  <arg name="jpeg_quality" default="90"/>

  <arg name="blink_process_rate" default="10"/>

  <arg name="accumulator_length"         default="14"/>
  <arg name="pitch_steps"         default="16"/>
  <arg name="yaw_steps"         default="16"/>
  <arg name="max_pixel_shift"         default="4"/>

  <arg name="filterDistLength"         default="10"/>
  <arg name="filterOrientationLength"         default="10"/>

  <!-- Node Settings -->
  <arg name="output" default="screen"/>
  <arg name="proc" default="false"/>
  <arg name="view" default="false"/>
  <arg name="calib" default="false"/>

  <arg name="debug" default="false"/>
  <arg name="visual_debug" default="false"/>
  <!-- <arg name="gui" default="true"/> -->
  <arg name="gui" default="false"/>
  <arg name="publish_visualization" default="true"/>
  <arg name="visualization_rate" default="2"/>

  <arg name="publish" default="true"/>
  <arg name="useOdom" default="false"/>
  <arg name="cemeraRotated" default="false"/>
  <arg name="FromVideo" default="false"/>
  <arg name="VideoNumber" default="9"/>
  <arg name="cellSize" default="64"/>
  <arg name="cellOverlay" default="16"/>
  <arg name="camNum" default="0"/>
  <arg name="Delay" default="100"/>
  <arg name="TimeScale" default="1.0"/>

  <arg name="mrs_id" default="$(optenv MRS_ID)"/>

  <arg name="beacon" default="false"/>

  <arg name="id1" value="0"/>
  <arg name="id2" value="1"/>
  <arg name="id3" value="2"/>
  <arg name="id4" value="3"/>
  <arg name="id5" value="4"/>
  <arg name="id6" value="5"/>
  <arg name="id7" value="6"/>
  <arg name="id8" value="7"/>
  <arg name="id9" value="8"/>
  <arg name="id10" value="9"/>
  <arg name="id11" value="10"/>
  <arg name="id12" value="11"/>
  <arg name="id13" value="12"/>
  <arg name="id14" value="13"/>
  <arg name="id15" value="14"/>
  <arg name="id16" value="15"/>
  <arg name="id17" value="16"/>
  <arg name="id18" value="17"/>
  <arg name="id19" value="18"/>
  <arg name="id20" value="19"/>
  <arg name="id21" value="20"/>

  <arg name="sequence_file" default="$(find uvdar_core)/config/selected.txt"/>
  <arg name="model_file" default="$(find uvdar_core)/config/models/quadrotor_foursided.txt"/>

  <arg name="use_masks" default="false"/>

  <arg name="blink_throttle_rate" default="5"/>

  <node
    name="uvcam_tf_$(arg uav_name)"
    pkg="tf2_ros"
    type="static_transform_publisher"
    args="0.03  0.10 0.06 -0.3490658504 0.0 -1.57079632679 $(arg uav_name)/fcu $(arg uav_name)/uvcam"/>


      <!-- <origin xyz="0.108 0 0.085" rpy="1.57079632679 4.71238898038 1.57079632679" /> -->
  <!--Usage: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period(milliseconds)-->
<!-- OR -->

  <env name="LIBPISP_BE_CONFIG_FILE" value="$(optenv LIBPISP_BE_CONFIG_FILE /opt/ros/noetic/share/libpisp/backend_default_config.json)" />
  <env name="LIBCAMERA_IPA_MODULE_PATH" value="$(optenv LIBCAMERA_IPA_MODULE_PATH /opt/ros/noetic/lib/libcamera/)" />
  <env name="LIBCAMERA_IPA_CONFIG_PATH" value="$(optenv LIBCAMERA_IPA_CONFIG_PATH /opt/ros/noetic/share/libcamera/ipa)" />
	
<arg name="RPI_CAM_DEBUG" value="false"/>
<arg name="custom_config" default="$(optenv CUSTOM_CONFIG)" />

  <env if="$(arg RPI_CAM_DEBUG)" name="LIBCAMERA_LOG_LEVELS" value="$(optenv LIBCAMERA_LOG_LEVELS *:DEBUG)" />

  <group ns="$(arg uav_name)">
  
    <!-- <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_uvdar_nodelet_manager" args="manager" output="screen" launch-prefix="debug_roslaunch"> -->
    <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_uvdar_nodelet_manager" args="manager" output="screen">
      <param name="num_worker_threads" value="8" />
    </node>


    <!-- <node pkg="nodelet" type="nodelet" name="uvdar_camera" args="$(arg nodelet) libcamera_ros/LibcameraRos $(arg nodelet_manager)" launch-prefix="$(arg launch_prefix_debug)" output="screen"> -->
    <node pkg="nodelet" type="nodelet" name="uvdar_camera" args="$(arg nodelet) libcamera_ros/LibcameraRos $(arg nodelet_manager)" output="screen">

      <!-- Load the default param files -->
      <rosparam command="load" file="$(find uvdar_core)/config/camera_config/raspi_cam_config.yaml" />

      <param if="$(eval arg('custom_config') == '')" name="custom_config" value="" />
      <rosparam if="$(eval not arg('custom_config') == '' and arg('custom_config')[0] == '/')" command="load" file="$(arg custom_config)" />
      <rosparam if="$(eval not arg('custom_config') == '' and not arg('custom_config')[0] == '/')" command="load" file="$(env PWD)/$(arg custom_config)" />

      <param name="frame_id" type="string" value="$(arg uav_name)/uvcam"/>
      <param name="calib_url" type="string" value="dummy"/>

      <!-- Disable publishing of specific image transport topics -->
      <rosparam param="image_raw/disable_pub_plugins">
      - 'image_transport/compressedDepth'
      - 'image_transport/theora'
      - 'image_transport/h264'
      </rosparam>

      <!-- Publishers -->
      <remap from="~image_raw" to="~front/image_raw" />
      <remap from="~camera_info" to="~camera_info" />

    </node>

    <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="true"> 
    <!-- <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="debug_roslaunch"> --> 
      <!-- <node name="uv_detect" pkg="uvdar" type="uv_detector_node" output="screen" launch-prefix="urxvt -e gdb -q -x /home/viktor/gdb.cmds -/-args"> -->
      <param name="uav_name" type = "string" value="$(arg uav_name)"/>
      <param name="debug"		type="bool" value="$(arg debug)"/> 
      <!-- <param name="debug"		type="bool" value="true"/> --> 
      <param name="gui"             type="bool" value="false"/>
      <param name="publish_visualization"             type="bool" value="false"/>
      <param name="justReport" type="bool" value="true"/>
      <param name="threshold" type="int" value="$(arg threshold)"/>

      <param name="use_masks"         type="bool" value="$(arg use_masks)"/>
      <param name="body_name"         type = "string" value="$(arg mrs_id)"/>
      <rosparam param="mask_file_names" subst_value="True"> ["$(arg calibrations_folder)/masks/$(arg mrs_id)_$(arg front).png"] </rosparam>

      <rosparam param="camera_topics"> ["camera_front"] </rosparam>
      <rosparam param="points_seen_topics"> ["points_seen_front"] </rosparam>

      <remap from="~camera_front" to="/$(arg uav_name)/uvdar_camera/front/image_raw"/>
      <remap from="~points_seen_front" to="/$(arg uav_name)/uvdar/points_seen_front"/>

      <remap from="~odometry" to="/$(arg uav_name)/mrs_odometry/new_odom"/>
      <remap from="~imu" to="mavros/imu/data"/>
    </node>

    <node name="blink_processor" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARBlinkProcessor $(arg nodelet_manager)" output="screen" respawn="true"> 
    <!-- <node name="blink_processor" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARBlinkProcessor $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="roslaunch_debug"> --> 
      <param name="uav_name" type = "string" value="$(arg uav_name)"/>
      <!-- <param name="debug"		type="bool" value="$(arg debug)"/> --> 
      <param name="debug"		type="bool" value="false"/> 
      <param name="visual_debug"		type="bool" value="$(arg visual_debug)"/> 
      <param name="gui"             type="bool" value="$(arg gui)"/>
      <param name="publish_visualization"         type="bool" value="$(arg publish_visualization)"/>
      <param name="use_camera_for_visualization"         type="bool" value="true"/>
      <param name="visualization_rate"         type="int" value="$(arg visualization_rate)"/>
      <!-- <rosparam param="frequencies" subst_value="true"> [$(arg frequency1), $(arg frequency2), $(arg frequency3), $(arg frequency4)] </rosparam> -->
      <rosparam param="signal_ids" subst_value="true"> [$(arg id1), $(arg id2), $(arg id3), $(arg id4), $(arg id5), $(arg id6), $(arg id7), $(arg id8), $(arg id9), $(arg id10), $(arg id11), $(arg id12), $(arg id13), $(arg id14), $(arg id15), $(arg id16), $(arg id17), $(arg id18), $(arg id19), $(arg id20), $(arg id21)] </rosparam>
      <param name="sequence_file"         type="string" value="$(arg sequence_file)"/>

      <param name="blink_process_rate"         type="int" value="$(arg blink_process_rate)"/>

      <param name="accumulator_length"         type="int" value="$(arg accumulator_length)"/>
      <param name="pitch_steps"         type="int" value="$(arg pitch_steps)"/>
      <param name="yaw_steps"         type="int" value="$(arg yaw_steps)"/>
      <param name="max_pixel_shift"         type="int" value="$(arg max_pixel_shift)"/>
      <param name="nullify_radius"         type="int" value="5"/>

      <rosparam param="camera_topics"> ["camera_front"] </rosparam>
      <rosparam param="points_seen_topics"> ["points_seen_front"] </rosparam>
      <rosparam param="blinkers_seen_topics"> ["blinkers_seen_front"] </rosparam>
      <rosparam param="estimated_framerate_topics"> ["estimated_framerate_front"] </rosparam>

      <rosparam param="omta_logging_topics"> ["omta_logging_front"] </rosparam>
      <rosparam param="omta_all_seq_info_topics"> ["omta_all_seq_info_front"] </rosparam>

      <remap from="~camera_front" to="/$(arg uav_name)/uvdar_camera/front/image_raw"/>
      <remap from="~points_seen_front" to="/$(arg uav_name)/uvdar/points_seen_front"/>
      <remap from="~blinkers_seen_front" to="/$(arg uav_name)/uvdar/blinkers_seen_front"/>
      <remap from="~estimated_framerate_front" to="/$(arg uav_name)/uvdar/estimated_framerate_front"/>
      <!-- <remap from="~visualization" to="/$(arg uav_name)/uvdar/blink_visualization/image_raw"/> -->

      <remap from="~omta_logging_front" to="/$(arg uav_name)/uvdar/omta_logging_front"/>

      <remap from="~omta_all_seq_info_front" to="/$(arg uav_name)/uvdar/omta_all_seq_info_front"/>
    </node>

      
  </group>


</launch>
