<launch>
  <arg name="uav_name" default="$(optenv UAV_NAME uav2)"/>

  <arg name="standalone" default="false"/>

  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg uav_name)_uvdar_nodelet_manager"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <arg name="threshold" default="50"/>

  <arg name="left" default="$(optenv BLUEFOX_UV_LEFT)"/>
  <arg name="right" default="$(optenv BLUEFOX_UV_RIGHT)"/>
  <arg name="back" default="$(optenv BLUEFOX_UV_BACK)"/>
  <arg name="left_camera_name" default="mv_$(arg left)"/>
  <arg name="right_camera_name" default="mv_$(arg right)"/>
  <arg name="back_camera_name" default="mv_$(arg back)"/>
  <arg name="expose_us_left" default="$(optenv BLUEFOX_UV_LEFT_EXPOSE_US)"/>
  <arg name="expose_us_right" default="$(optenv BLUEFOX_UV_RIGHT_EXPOSE_US)"/>
  <arg name="expose_us_back" default="$(optenv BLUEFOX_UV_BACK_EXPOSE_US)"/>

  <arg name="calibrations_folder" default="$(find mrs_uav_deployment)/config/uvdar_calibrations"/>

  <arg name="camera_rate" default="60"/>
  <arg name="fps" default="$(arg camera_rate)"/>
  <arg name="idpf" default="0"/>
  <arg name="aec" default="false"/>
  <arg name="agc" default="false"/>
  <arg name="gain_db" default="0.0"/>
  <arg name="cbm" default="0"/>
  <arg name="ctm" default="1"/>
  <arg name="dcfm" default="0"/>
  <arg name="hdr" default="false"/>
  <arg name="wbp" default="-1"/>
  <arg name="request" default="0"/>
  <arg name="mm" default="0"/>
  <arg name="jpeg_quality" default="90"/>

  <arg name="blink_process_rate" default="10"/>

  <!--OMT values-->
  <arg name="max_px_shift_y" default="3"/>
  <arg name="max_px_shift_x" default="3"/>
  <arg name="max_zeros_consecutive" default="2"/>
  <arg name="max_ones_consecutive" default="2"/>
  <arg name="stored_seq_len_factor" default="3"/>
  <arg name="max_buffer_length" default="5000"/>
  <arg name="poly_order" default="3"/>
  <arg name="decay_factor" default="0.2"/>
  <arg name="confidence_probability" default="95.0"/>
  <arg name="allowed_BER_per_seq" default="0"/>

  <arg name="use_4DHT" default="false"/>
  <!--4DHT values-->
  <arg name="accumulator_length"         default="18"/>
  <arg name="pitch_steps"         default="16"/>
  <arg name="yaw_steps"         default="16"/>
  <arg name="max_pixel_shift"         default="4"/>


  <!-- Node Settings -->
  <arg name="output" default="screen"/>
  <arg name="proc" default="false"/>
  <arg name="calib" default="false"/>

  <arg name="debug" default="false"/>
  <arg name="visual_debug" default="false"/>
  <!-- <arg name="gui" default="true"/> -->
  <arg name="gui" default="false"/>
  <arg name="publish_visualization" default="true"/>
  <arg name="visualization_rate" default="2"/>

  <arg name="publish" default="true"/>

  <arg name="mrs_id" default="$(optenv MRS_ID)"/>

  <arg name="beacon" default="false"/>

  <arg name="id1" value="0"/>
  <arg name="id2" value="1"/>
  <arg name="id3" value="2"/>
  <arg name="id4" value="3"/>
  <arg name="id5" value="4"/>
  <arg name="id6" value="5"/>
  <arg name="id7" value="6"/>
  <arg name="id8" value="7"/>
  <arg name="id9" value="8"/>
  <arg name="id10" value="9"/>
  <arg name="id11" value="10"/>
  <arg name="id12" value="11"/>
  <arg name="id13" value="12"/>
  <arg name="id14" value="13"/>
  <arg name="id15" value="14"/>
  <arg name="id16" value="15"/>
  <arg name="id17" value="16"/>
  <arg name="id18" value="17"/>
  <arg name="id19" value="18"/>
  <arg name="id20" value="19"/>
  <arg name="id21" value="20"/>

  <arg name="sequence_file" default="$(find uvdar_core)/config/selected.txt"/>

  <arg name="use_masks" default="true"/>

  <node
    name="uvcam_left_tf_$(arg uav_name)"
    pkg="tf2_ros"
    type="static_transform_publisher"
    args="0.03  0.10 0.06 -0.3490658504 0.0 -1.57079632679 $(arg uav_name)/fcu $(arg uav_name)/uvcam_left"/>

  <node
    name="uvcam_right_tf_$(arg uav_name)"
    pkg="tf2_ros"
    type="static_transform_publisher"
    args="0.03 -0.10 0.06 -2.792526803 0.0 -1.57079632679 $(arg uav_name)/fcu $(arg uav_name)/uvcam_right"/>

  <node
    name="uvcam_back_tf_$(arg uav_name)"
    pkg="tf2_ros"
    type="static_transform_publisher"
    args="-0.10 0.0 -0.02 0.0 1.57079632679 3.14159265 $(arg uav_name)/fcu $(arg uav_name)/uvcam_back"/>
  <!-- ideal angle: 1.221730476 - pi/2 -->

      <!-- <origin xyz="0.108 0 0.085" rpy="1.57079632679 4.71238898038 1.57079632679" /> -->
  <!--Usage: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period(milliseconds)-->
<!-- OR -->
  <group ns="$(arg uav_name)">
  
    <!-- <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_uvdar_nodelet_manager" args="manager" output="screen" launch-prefix="debug_roslaunch"> -->
    <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_uvdar_nodelet_manager" args="manager" output="screen">
      <param name="num_worker_threads" value="8" />
    </node>


    <node pkg="nodelet" type="nodelet" name="uvdar_bluefox_left" args="$(arg nodelet) bluefox2/SingleNodelet $(arg nodelet_manager)" respawn="true" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'">
      <param name="camera_name" type="string" value="$(arg left_camera_name)"/>
      <param name="identifier" type="string" value="$(arg left)"/>

      <param name="frame_id" type="string" value="uvcam_left_tf_$(arg uav_name)"/>
      <param name="fps" type="double" value="$(arg fps)"/>
      <param name="idpf" type="int" value="$(arg idpf)"/>
      <param name="aec" type="bool" value="$(arg aec)"/>
      <param name="expose_us" type="int" value="$(arg expose_us_left)"/>
      <param name="agc" type="bool" value="$(arg agc)"/>
      <param name="gain_db" type="double" value="$(arg gain_db)"/>
      <param name="cbm" type="int" value="$(arg cbm)"/>
      <param name="ctm" type="int" value="$(arg ctm)"/>
      <param name="dcfm" type="int" value="$(arg dcfm)"/>
      <param name="hdr" type="bool" value="$(arg hdr)"/>
      <param name="wbp" type="int" value="$(arg wbp)"/>
      <param name="request" type="int" value="$(arg request)"/>
      <param name="mm" type="int" value="$(arg mm)"/>

      <param name="image_raw/compressed/jpeg_quality" type="int" value="$(arg jpeg_quality)"/>
      <param name="image_raw/theora/keyframe_frequency" value="60" />
      <param name="image_raw/theora/target_bitrate" value="50000" />
      <param name="image_raw/theora/quality" value="8" />
      <param name="image_raw/theora/optimize_for" value="0" />

      <remap from="/$(arg uav_name)/uvdar_bluefox_left/image_raw" to="/$(arg uav_name)/uvdar_bluefox/left/image_raw"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="uvdar_bluefox_right" args="$(arg nodelet) bluefox2/SingleNodelet $(arg nodelet_manager)" respawn="true" output="screen" launch-prefix="bash -c 'sleep 7; $0 $@'">
      <param name="camera_name" type="string" value="$(arg right_camera_name)"/>
      <param name="identifier" type="string" value="$(arg right)"/>

      <param name="frame_id" type="string" value="uvcam_right_tf_$(arg uav_name)"/>
      <param name="fps" type="double" value="$(arg fps)"/>
      <param name="idpf" type="int" value="$(arg idpf)"/>
      <param name="aec" type="bool" value="$(arg aec)"/>
      <param name="expose_us" type="int" value="$(arg expose_us_right)"/>
      <param name="agc" type="bool" value="$(arg agc)"/>
      <param name="gain_db" type="double" value="$(arg gain_db)"/>
      <param name="cbm" type="int" value="$(arg cbm)"/>
      <param name="ctm" type="int" value="$(arg ctm)"/>
      <param name="dcfm" type="int" value="$(arg dcfm)"/>
      <param name="hdr" type="bool" value="$(arg hdr)"/>
      <param name="wbp" type="int" value="$(arg wbp)"/>
      <param name="request" type="int" value="$(arg request)"/>
      <param name="mm" type="int" value="$(arg mm)"/>

      <param name="image_raw/compressed/jpeg_quality" type="int" value="$(arg jpeg_quality)"/>
      <param name="image_raw/theora/keyframe_frequency" value="60" />
      <param name="image_raw/theora/target_bitrate" value="50000" />
      <param name="image_raw/theora/quality" value="8" />
      <param name="image_raw/theora/optimize_for" value="0" />

      <remap from="/$(arg uav_name)/uvdar_bluefox_right/image_raw" to="/$(arg uav_name)/uvdar_bluefox/right/image_raw"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="uvdar_bluefox_back" args="$(arg nodelet) bluefox2/SingleNodelet $(arg nodelet_manager)" respawn="true" output="screen" launch-prefix="bash -c 'sleep 7; $0 $@'">
      <param name="camera_name" type="string" value="$(arg back_camera_name)"/>
      <param name="identifier" type="string" value="$(arg back)"/>

      <param name="frame_id" type="string" value="uvcam_back_tf_$(arg uav_name)"/>
      <param name="fps" type="double" value="$(arg fps)"/>
      <param name="idpf" type="int" value="$(arg idpf)"/>
      <param name="aec" type="bool" value="$(arg aec)"/>
      <param name="expose_us" type="int" value="$(arg expose_us_back)"/>
      <param name="agc" type="bool" value="$(arg agc)"/>
      <param name="gain_db" type="double" value="$(arg gain_db)"/>
      <param name="cbm" type="int" value="$(arg cbm)"/>
      <param name="ctm" type="int" value="$(arg ctm)"/>
      <param name="dcfm" type="int" value="$(arg dcfm)"/>
      <param name="hdr" type="bool" value="$(arg hdr)"/>
      <param name="wbp" type="int" value="$(arg wbp)"/>
      <param name="request" type="int" value="$(arg request)"/>
      <param name="mm" type="int" value="$(arg mm)"/>

      <param name="image_raw/compressed/jpeg_quality" type="int" value="$(arg jpeg_quality)"/>
      <param name="image_raw/theora/keyframe_frequency" value="60" />
      <param name="image_raw/theora/target_bitrate" value="50000" />
      <param name="image_raw/theora/quality" value="8" />
      <param name="image_raw/theora/optimize_for" value="0" />

      <remap from="/$(arg uav_name)/uvdar_bluefox_back/image_raw" to="/$(arg uav_name)/uvdar_bluefox/back/image_raw"/>
    </node>


    <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="true"> 
    <!-- <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="debug_roslaunch"> --> 
      <!-- <node name="uv_detect" pkg="uvdar" type="uv_detector_node" output="screen" launch-prefix="urxvt -e gdb -q -x /home/viktor/gdb.cmds -/-args"> -->
      <param name="uav_name" type = "string" value="$(arg uav_name)"/>
      <param name="debug"		type="bool" value="$(arg debug)"/> 
      <!-- <param name="debug"		type="bool" value="true"/> --> 
      <param name="gui"             type="bool" value="false"/>
      <param name="publish_visualization"             type="bool" value="false"/>
      <param name="justReport" type="bool" value="true"/>
      <param name="threshold" type="int" value="$(arg threshold)"/>

      <param name="use_masks"         type="bool" value="$(arg use_masks)"/>
      <param name="body_name"         type = "string" value="$(arg mrs_id)"/>
      <rosparam param="mask_file_names" subst_value="True"> ["$(arg calibrations_folder)/masks/$(arg mrs_id)_$(arg left).png", "$(arg calibrations_folder)/masks/$(arg mrs_id)_$(arg right).png", "$(arg calibrations_folder)/masks/$(arg mrs_id)_$(arg back).png"] </rosparam>

      <rosparam param="camera_topics"> ["camera_left", "camera_right", "camera_back"] </rosparam>
      <rosparam param="points_seen_topics"> ["points_seen_left", "points_seen_right", "points_seen_back"] </rosparam>

      <remap from="~camera_left" to="/$(arg uav_name)/uvdar_bluefox/left/image_raw"/>
      <remap from="~camera_right" to="/$(arg uav_name)/uvdar_bluefox/right/image_raw"/>
      <remap from="~camera_back" to="/$(arg uav_name)/uvdar_bluefox/back/image_raw"/>
      <remap from="~points_seen_left" to="/$(arg uav_name)/uvdar/points_seen_left"/>
      <remap from="~points_seen_right" to="/$(arg uav_name)/uvdar/points_seen_right"/>
      <remap from="~points_seen_back" to="/$(arg uav_name)/uvdar/points_seen_back"/>

      <remap from="~odometry" to="/$(arg uav_name)/mrs_odometry/new_odom"/>
      <remap from="~imu" to="mavros/imu/data"/>
    </node>

    <node name="blink_processor" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARBlinkProcessor $(arg nodelet_manager)" output="screen" respawn="true"> 
    <!-- <node name="blink_processor" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARBlinkProcessor $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="roslaunch_debug"> --> 
      <param name="uav_name" type = "string" value="$(arg uav_name)"/>
      <!-- <param name="debug"		type="bool" value="$(arg debug)"/> --> 
      <param name="debug"		type="bool" value="false"/> 
      <param name="visual_debug"		type="bool" value="$(arg visual_debug)"/> 
      <param name="gui"             type="bool" value="$(arg gui)"/>
      <param name="publish_visualization"         type="bool" value="$(arg publish_visualization)"/>
      <param name="use_camera_for_visualization"         type="bool" value="true"/>
      <param name="visualization_rate"         type="int" value="$(arg visualization_rate)"/>
      <!-- <rosparam param="frequencies" subst_value="true"> [$(arg frequency1), $(arg frequency2), $(arg frequency3), $(arg frequency4)] </rosparam> -->
      <rosparam param="signal_ids" subst_value="true"> [$(arg id1), $(arg id2), $(arg id3), $(arg id4), $(arg id5), $(arg id6), $(arg id7), $(arg id8), $(arg id9), $(arg id10), $(arg id11), $(arg id12), $(arg id13), $(arg id14), $(arg id15), $(arg id16), $(arg id17), $(arg id18), $(arg id19), $(arg id20), $(arg id21)] </rosparam>
      <param name="sequence_file"         type="string" value="$(arg sequence_file)"/>

      <param name="blink_process_rate"         type="int" value="$(arg blink_process_rate)"/>

      <param name="use_4DHT"                type="bool" value="$(arg use_4DHT)"/>

      <param name="max_px_shift_x"          type="int"    value="$(arg max_px_shift_x)"/>
      <param name="max_px_shift_y"          type="int"    value="$(arg max_px_shift_y)"/>
      <param name="max_zeros_consecutive"   type="int"    value="$(arg max_zeros_consecutive)"/>
      <param name="max_ones_consecutive"    type="int"    value="$(arg max_ones_consecutive)"/>
      <param name="stored_seq_len_factor"   type="int"    value="$(arg stored_seq_len_factor)"/>  
      <param name="max_buffer_length"       type="int"    value="$(arg max_buffer_length)"/>  
      <param name="poly_order"              type="int"    value="$(arg poly_order)"/>
      <param name="decay_factor"            type="double" value="$(arg decay_factor)"/>    
      <param name="confidence_probability"  type="double" value="$(arg confidence_probability)"/>
      <param name="allowed_BER_per_seq"     type="int"    value="$(arg allowed_BER_per_seq)"/>
      
      <param name="accumulator_length"      type="int"    value="$(arg accumulator_length)"/>
      <param name="pitch_steps"             type="int"    value="$(arg pitch_steps)"/>
      <param name="yaw_steps"               type="int"    value="$(arg yaw_steps)"/>
      <param name="max_pixel_shift"         type="int"    value="$(arg max_pixel_shift)"/>
      <param name="nullify_radius"          type="int"    value="5"/>

      <rosparam param="camera_topics"> ["camera_left", "camera_right", "camera_back"] </rosparam>
      <rosparam param="points_seen_topics"> ["points_seen_left", "points_seen_right", "points_seen_back"] </rosparam>
      <rosparam param="blinkers_seen_topics"> ["blinkers_seen_left", "blinkers_seen_right", "blinkers_seen_back"] </rosparam>
      <rosparam param="estimated_framerate_topics"> ["estimated_framerate_left", "estimated_framerate_right", "estimated_framerate_back"] </rosparam>
      <rosparam param="omta_logging_topics"> ["omta_logging_left", "omta_logging_right", "omta_logging_back"] </rosparam>
      <rosparam param="omta_all_seq_info_topics"> ["omta_all_seq_info_left", "omta_all_seq_info_right", "omta_all_seq_info_back"] </rosparam>


      <remap from="~camera_left" to="/$(arg uav_name)/uvdar_bluefox/left/image_raw"/>
      <remap from="~camera_right" to="/$(arg uav_name)/uvdar_bluefox/right/image_raw"/>
      <remap from="~camera_back" to="/$(arg uav_name)/uvdar_bluefox/back/image_raw"/>
      <remap from="~points_seen_left" to="/$(arg uav_name)/uvdar/points_seen_left"/>
      <remap from="~points_seen_right" to="/$(arg uav_name)/uvdar/points_seen_right"/>
      <remap from="~points_seen_back" to="/$(arg uav_name)/uvdar/points_seen_back"/>
      <remap from="~blinkers_seen_left" to="/$(arg uav_name)/uvdar/blinkers_seen_left"/>
      <remap from="~blinkers_seen_right" to="/$(arg uav_name)/uvdar/blinkers_seen_right"/>
      <remap from="~blinkers_seen_back" to="/$(arg uav_name)/uvdar/blinkers_seen_back"/>
      <remap from="~estimated_framerate_left" to="/$(arg uav_name)/uvdar/estimated_framerate_left"/>
      <remap from="~estimated_framerate_right" to="/$(arg uav_name)/uvdar/estimated_framerate_right"/>
      <remap from="~estimated_framerate_back" to="/$(arg uav_name)/uvdar/estimated_framerate_back"/>
      <remap from="~omta_logging_left" to="/$(arg uav_name)/uvdar/omta_logging_left"/>
      <remap from="~omta_logging_right" to="/$(arg uav_name)/uvdar/omta_logging_right"/>
      <remap from="~omta_logging_back" to="/$(arg uav_name)/uvdar/omta_logging_back"/>
      <remap from="~omta_all_seq_info_left" to="/$(arg uav_name)/uvdar/omta_all_seq_info_left"/>
      <remap from="~omta_all_seq_info_right" to="/$(arg uav_name)/uvdar/omta_all_seq_info_right"/>
      <remap from="~omta_all_seq_info_back" to="/$(arg uav_name)/uvdar/omta_all_seq_info_back"/>
      <!-- <remap from="~visualization" to="/$(arg uav_name)/uvdar/blink_visualization/image_raw"/> -->

    </node>
      
    <!-- <node name="uvdar_pose_calculator_node" pkg="uvdar_core" type="uvdar_pose_calculator_node" output="screen" >  -->
        <!-- <node name="uvdar_pose_calculator_node" pkg="uvdar_core" type="uvdar_pose_calculator_node" launch-prefix="valgrind -/-tool=callgrind -/-callgrind-out-file=/home/viktor/callgrind.out -/-instr-atstart=no -/-collect-atstart=yes"> --> 
            <!-- <node name="uvdar_pose_calculator_node" pkg="uvdar_core" type="uvdar_pose_calculator_node" launch-prefix="valgrind -/-tool=callgrind -/-callgrind-out-file=/home/viktor/callgrind.out"> --> 
      <!-- <param name="uav_name" type = "string" value="$(arg uav_name)"/> -->
      <!-- <param name="debug"		type="bool" value="false"/>  -->
      <!-- <param name="debug"		type="bool" value="false"/> --> 
      <!-- <param name="gui"             type="bool" value="false"/> -->
      <!-- <param name="gui"             type="bool" value="false"/> -->
      <!-- <param name="publish_visualization"             type="bool" value="false"/> -->
      <!-- <param name="publish_constituents"             type="bool" value="true"/> -->
      <!-- <param name="publish_visualization"             type="bool" value="false"/> -->
      <!-- <rosparam param="signal_ids" subst_value="true"> [$(arg id1), $(arg id2), $(arg id3), $(arg id4), $(arg id5), $(arg id6), $(arg id7), $(arg id8), $(arg id9), $(arg id10), $(arg id11), $(arg id12), $(arg id13), $(arg id14), $(arg id15), $(arg id16), $(arg id17), $(arg id18), $(arg id19), $(arg id20), $(arg id21)] </rosparam> -->

      <!-- <param name="quadrotor" type="bool" value="true"/>
      <param name="beacon" type="bool" value="$(arg beacon)"/>
      <param name="arm_length" type="double" value="0.245"/>

      <rosparam param="blinkers_seen_topics"> ["blinkers_seen_left", "blinkers_seen_right", "blinkers_seen_back"] </rosparam>
      <rosparam param="estimated_framerate_topics"> ["estimated_framerate_left", "estimated_framerate_right", "estimated_framerate_back"] </rosparam>
      <rosparam param="camera_frames" subst_value="true"> ["$(arg uav_name)/uvcam_left", "$(arg uav_name)/uvcam_right", "$(arg uav_name)/uvcam_back"] </rosparam>

      <remap from="~blinkers_seen_left" to="/$(arg uav_name)/uvdar/blinkers_seen_left"/>
      <remap from="~blinkers_seen_right" to="/$(arg uav_name)/uvdar/blinkers_seen_right"/>
      <remap from="~blinkers_seen_back" to="/$(arg uav_name)/uvdar/blinkers_seen_back"/>
      <remap from="~estimated_framerate_left" to="/$(arg uav_name)/uvdar/estimated_framerate_left"/>
      <remap from="~estimated_framerate_right" to="/$(arg uav_name)/uvdar/estimated_framerate_right"/>
      <remap from="~estimated_framerate_back" to="/$(arg uav_name)/uvdar/estimated_framerate_back"/>

      <rosparam param="calib_files" subst_value="true"> ["$(arg calibrations_folder)/camera_calibrations/calib_results_bf_uv_$(arg left).txt", "$(arg calibrations_folder)/camera_calibrations/calib_results_bf_uv_$(arg right).txt", "$(arg calibrations_folder)/camera_calibrations/calib_results_bf_uv_$(arg back).txt"] </rosparam> -->
<!-- 
      <remap from="~constituentPoses1" to="/$(arg uav_name)/uvdar/constituentPosesL"/>
      <remap from="~constituentPoses2" to="/$(arg uav_name)/uvdar/constituentPosesR"/>
      <remap from="~constituentPoses3" to="/$(arg uav_name)/uvdar/constituentPosesB"/>

      <remap from="~measuredPoses1" to="/$(arg uav_name)/uvdar/measuredPosesL"/>
      <remap from="~measuredPoses2" to="/$(arg uav_name)/uvdar/measuredPosesR"/>
      <remap from="~measuredPoses3" to="/$(arg uav_name)/uvdar/measuredPosesB"/> -->
    <!-- </node> -->
  </group>


</launch>
